<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage | Borrowlogy</title>
    <link rel="stylesheet" href="{% static 'Labtech/homepage.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Border -->
    <div class="border top">
        <img src="{% static 'images/black-shadow-1.png' %}" alt="Top Border" class="top-border">
    </div>
    <div class="border bottom">
        <img src="{% static 'images/black-shadow-1.png' %}" alt="Bottom Border" class="bottom-border">
    </div>

    <!-- Microscope -->
    <div class="microscope">
        <img src="{% static 'images/microscope 1.png' %}" alt="Microscope" class="microscope">
    </div>
    
    <!-- Border Right -->
    <div class="border right">
        <img src="{% static 'images/left border 1.png' %}" alt="Right Border" class="right-border">
    </div>

    <!-- rbc -->
    <div class="rbc">
        <img src="{% static 'images/rbc 1.png' %}" alt="RBC" class="rbc">
    </div>

    <!-- logo -->
    <div class="logo">
        <img src="{% static 'images/Borrowlogy-logo.png' %}" alt="Logo" class="logo">
    </div>


    <div class="container">
        <h1>Borrowing your Biology Lab Materials made easier!</h1>
        <p> Borrowlogy is a platform for university biology students to easily borrow lab materials. 
            With Borrowlogy, students can quickly access the tools they need for their experiments 
            and stay organized with a comprehensive history log to track all their borrowing activities.
            Simplifying material access, so you can focus on learning! </p>
        
        <div class="button-container">
            <!-- Borrower Login Button -->
            <a href="/auth/brwlogin/"><button class="btn">Log in as Borrower</button></a>
            <!-- Technician Login Button -->
            <a href="{% url 'login' %}"><button class="btn">Log in as Technician</button></a>
        <!-- Technician Login Button -->
    </div>
</body>
</html>